#statistics {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
    .stats-section {
        display: flex;
        flex-basis: 48%;
        flex-direction: column;
        height: 50%;
        padding: 0px 1%;
    }
        .stats-section:first-of-type .stats-row {
            padding: 5px 0px;
        }
        .stats-header {
            font-size: 24px;
            padding-bottom: 15px;
        }
        .stats-container {
            flex: 1;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 0px 2%;
        }
            .stats-row {
                align-items: center;
                border-bottom: 1px solid var(--light-primary);
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
                .stats-left {
                    flex: 100 1; /* Let title grow/shrink */
                    overflow-wrap: anywhere;
                }
                .stats-right {
                    flex: 1 1;
                    float: right;
                    white-space: nowrap; /* Keep both filter + count on same line, don't let it change size */
                }
                    .stats-addSub {
                        background-color: transparent;
                        border: 0px;
                        color: var(--light-primary);
                        font-family: 'Montserrat', verdana, arial, sans-serif;
                        font-size: 16px;
                        margin-right: 15px;
                        padding: 5px 10px;
                    }
                        .stats-addSub:hover {
                            background-color: var(--accent);
                            color: var(--dark-secondary);
                        }
                    .stats-addFilter {
                        background-color: transparent;
                        border: 0px;
                        color: var(--light-primary);
                        font-family: 'Montserrat', verdana, arial, sans-serif;
                        font-size: 16px;
                        margin-right: 15px;
                        padding: 5px 10px;
                    }
                        .stats-addFilter:hover {
                            background-color: var(--accent);
                            color: var(--dark-secondary);
                        }