.user {
    background-color: var(--dark-primary);
    display: block;
    margin: 10px 15px 10px 15px;
    padding: 0px 10px 5px 10px;
    width: calc(100% - 50px);
}
    @media (max-width: 600px) {
        .user {
            margin: 10px 5px 10px 5px;
            width: calc(100% - 30px);
        }
    }
    .user.highlighted {
        background-color: var(--bad-dark);
    }
    .user-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
            .postCount {
                padding-left: 10px;
            }
            .user-actions button {
                background-color: transparent;
                border: 0px;
                color: var(--light-tetriary);
                display: inline-block;
                font-family: 'Montserrat', verdana, arial, sans-serif;
                font-size: 16px;
                padding: 0px 5px;
            }
    .postContainer {
        width: 100%;
    }