#body {
    background-color: var(--dark-secondary);
    color: var(--light-primary);
    height: calc(100dvh - 235px);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
    #body.headerMin {
        height: calc(100dvh - 160px);
    }
    @media (max-width: 600px) {
        #body {
            height: calc(100dvh - 370px);
        }
    }