#header {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    padding: 15px 0px 0px 0px;
    width: 100%;
}
    #title {
        align-items: center;
        display: flex;
        font-size: 24px;
        justify-content: space-around;
        padding: 0px 5%;
        width: 90%;
    }
        #titletext {

        }
            #titletext a {
                color: lightskyblue;
                text-decoration: underline;
            }
                #titletext a:hover {
                    color: var(--light-tetriary);
                }
        #headerreducer {
            transform: rotate(-90deg);
        }
            #headerreducer.min {
                transform: rotate(90deg);
            }
    #quickadd {
        align-items: center;
        container-type: inline-size;
        display: flex;
        justify-content: space-evenly;
        padding: 15px 2.5%;
        width: 95%;
    }
        .qa-section {

        }
            .qa-dropdown {
                background-color: var(--background-primary);
                border: 0px;
                color: var(--light-primary);
                font-family: 'Montserrat', verdana, arial, sans-serif;
                font-size: 16px;
                margin-left: 15px;
                padding: 5px 10px;
            }
                .qa-dropdown:hover {
                    background-color: var(--light-secondary);
                    color: var(--dark-secondary);
                }
                .qa-dropdown option {
                    background-color: var(--dark-primary);
                    color: var(--light-primary);
                }
    #progressbar-container {
        background-color: var(--light-secondary);
        height: 20px;
        width: 100%;
    }
        #progressbar {
            background-color: var(--accent);
            height: 20px;
        }
@media (max-width: 600px) {
    #header {
        padding-top: 5px;
    }
        #quickadd {
            flex-direction: column;
            padding: 15px 0%;
            width: 100%;
        }
            .qa-section {
                margin-top: 10px;
            }
}