#header {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    padding: 15px 0px 0px 0px;
    width: 100%;
}
    #title {
        display: block;
        font-size: 24px;
        text-align: center;
    }
        #title a {
            color: lightskyblue;
            text-decoration: underline;
        }
            #title a:hover {
                color: white;
            }
    #quickadd {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 15px 2.5%;
        width: 95%;
    }
        .qa-section {
            padding: 0px 10px;
            text-align: center;
        }
            .qa-section select {
                background-color: var(--background-primary);
                border: 0px;
                color: var(--light-primary);
                font-family: 'Montserrat', verdana, arial, sans-serif;
                font-size: 16px;
                padding: 5px 10px;
            }
                .qa-section select:hover {
                    background-color: var(--light-secondary);
                    color: var(--dark-secondary);
                }
                .qa-section option {
                    background-color: var(--dark-primary);
                    color: var(--light-primary);
                }
            .qa-title {
                display: block;
                text-align: center;
            }
                .qa-want {
                    background-color: var(--dark-primary);
                    border: 0px;
                    color: var(--light-primary);
                    font-family: 'Montserrat', verdana, arial, sans-serif;
                    font-size: 16px;
                    padding: 5px 10px;
                }
                    .qa-want:hover {
                        background-color: var(--light-secondary);
                        color: var(--dark-secondary);
                    }
                        .qa-want.include::before {
                            color: var(--good);
                            content: "+";
                        }
                        .qa-want.exclude::before {
                            color: var(--bad);
                            content: "-";
                        }
                .qa-inputbox {
                    margin: 0px 5px;
                }
                    .qa-input {
                        background-color: var(--dark-primary);
                        border: 0px;
                        border-bottom: 1px solid var(--light-primary);
                        color: var(--light-primary);
                        font-family: 'Montserrat';
                        padding: 5px;
                        width: 150px;
                    }
                .qa-submit {
                    background-color: var(--dark-primary);
                    border: 0px;
                    color: var(--light-primary);
                    font-family: 'Montserrat', verdana, arial, sans-serif;
                    font-size: 16px;
                    padding: 5px;
                }
    #progressbar-container {
        background-color: var(--light-secondary);
        height: 20px;
        width: 100%;
    }
        #progressbar {
            background-color: var(--accent);
            height: 20px;
        }
    #groupsBar {
        background-color: var(--dark-secondary);
        display: flex;
        width: 100%;
    }
      .groupButton {
          background-color: var(--dark-primary);
          color: var(--light-primary);
          border: 0px;
          font-family: 'Montserrat', verdana, arial, sans-serif;
          font-size: 16px;
          padding: 5px 15px;
      }
        .groupButton:hover {
            background-color: var(--accent);
        }
        .groupButton.active {
            background-color: var(--accent);
        }
      .newGroup {
          background-color: var(--dark-primary);
          padding: 5px 15px;
      }
        .newGroup-input {
            background-color: var(--dark-primary);
            border: 0px;
            border-bottom: 1px solid var(--light-primary);
            color: var(--light-primary);
            font-family: 'Montserrat', verdana, arial, sans-serif;
            font-size: 16px;
        }
