.post-images {
    width: 100%;
}
    .post-imagescontainer {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
        .post-imagescontainer button {
            background-color: var(--dark-secondary);
            border: 0px;
            border-radius: 25px;
            color: white;
            font-size: 24px;
            height: 40px;
            width: 40px;
        }
            .post-imagescontainer button:hover {
                background-color: #343434;
            }
        .post-mediawrapper {
            cursor: pointer;
            max-height: 75dvh;
            object-fit: contain;
            width: calc(100% - 80px);
        }
            .post-displayimage {
                max-height: 75dvh;
                object-fit: contain;
                width: 100%;
            }
                .post-displayimage.popout {
                    width: calc(100% - 80px);
                }
            .post-displayvideo {
                max-height: 75dvh;
                object-fit: contain;
                width: 100%;
            }
                .post-displayvideo.popout {
                    width: calc(100% - 80px);
                }
    .post-imageselector {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
        .post-imageselector-chooser {
            background-color: white;
            height: 5px;
            margin: 5px;
        }