.post {
    background-color: var(--dark-secondary);
    border-left: 3px solid;
    margin-bottom: 5px;
    padding: 10px;
    width: calc(100% - 20px);
}
    .post-banner {
        width: 100%;
    }
        .post-header {
            font-size: 16px;
            font-weight: bold;
            width: 100%;
        }
            .post-header a {
                padding: 0px 5px;
            }
                .post-header a:hover {
                    cursor: pointer;
                }
            .post-top {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
                .post-title {
                    color: var(--light-tetriary);
                    float: left;
                    padding: 0px!important;
                }
                .post-actions {
                    float: right;
                    width: 50px;
                }
                    .post-actions button {
                        background-color: var(--dark-secondary);
                        border: 0px;
                        color: var(--light-tetriary);
                        font-family: 'Montserrat', verdana, arial, sans-serif;
                        font-size: 16px;
                        padding: 0px 5px;
                    }
            .post-info {
                display: block;
                font-size: 12px;
                font-weight: 100;
                width: 100%;
            }
                .post-info-separator {
                    padding: 0px 5px;
                }
            .tags-container {
                margin: 5px 0px;
            }
                .postTag {
                    border: 1px solid var(--light-tetriary);
                    border-radius: 10px;
                    font-size: 12px;
                    margin: 0px 5px;
                    padding: 5px;
                }
                    .postTag.light {
                        color: var(--light-tetriary);
                    }
                    .postTag.dark {
                        color: var(--dark-tetiary);
                    }
        .post-contents {
            width: 100%;
        }