.post-text {
    width: 100%;
}
    .post-text div,
    .post-text p {
        padding: 5px 0px;
    }
        .post-text div.indented,
        .post-text p.indented {
            padding: 5px 15px;
        }
        .post-text div.list-item,
        .post-text p.list-item {
            display: list-item;
            list-style-type: disc;
            list-style-position: inside; 
            padding: 5px 15px;
        }
        .post-text div.bold,
        .post-text p.bold {
            font-weight: bold;
        }
        .post-text div.italic,
        .post-text p.italic {
            font-style: italic;
        }
        .post-text div.header, /* Treating Large-headers as h1s */
        .post-text p.header,
        .post-text div.header-1,
        .post-text p.header-1 {
            font-size: 24px;
            font-weight: 500;
            padding: 20px 0px 0px 0px;
        }
            .post-text div.header.no-top-padding, /* Treating Large-headers as h1s */
            .post-text p.header.no-top-padding,
            .post-text div.header-1.no-top-padding,
            .post-text p.header-1.no-top-padding {
                padding: 0px;
            }
        .findableImage {
            color: lightskyblue;
            text-decoration: solid;
        }
            .findableImage:hover {
                color: rgb(34, 116, 141);
                cursor: pointer;
            }
        .otherSite {
            color: lightgreen;
            text-decoration: solid;
        }
            .otherSite:hover {
                color: chartreuse;
                cursor: pointer;
            }