#extrapage {
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--light-tetriary);
    left: 0;
    height: calc(100dvh - 20px);
    padding: 10px 2.5%;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1000;
}
    #extraheader {
        align-items: center;
        display: flex;
        font-size: 24px;
        justify-content: space-between;
        padding-bottom: 10px;
        width: 100%;
    }
        #extratitle {

        }
        #extra-right {
            align-items: center;
            display: flex;
        }
            #extrainteraction {
                
            }
                .clearall {
                    background-color: transparent;
                    border: 1px solid var(--light-primary);
                    color: var(--light-primary);
                    float: right;
                    font-family: 'Montserrat', verdana, arial, sans-serif;
                    font-size: 16px;
                    padding: 4px 15px;
                }
                    .clearall:hover {
                        border: 1px solid var(--light-secondary);
                    }
            #extraclose {
                background-color: transparent;
                border: 0px;
                color: var(--light-tetriary);
                float: right;
                font-family: 'Montserrat', verdana, arial, sans-serif;
                font-size: 16px;
                padding: 15px;
            }
    #extracontent {
        display: block;
        height: calc(100% - 60px);
        width: 100%;
    }