#popoutmedia {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    left: 0;
    height: calc(100dvh - 20px);
    padding: 10px 2.5%;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1000;
}
    #popoutheader {
        align-items: center;
        display: flex;
        font-size: 24px;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-bottom: 10px;
        width: 100%;
    }
        #popoutclose {
            background-color: transparent;
            border: 0px;
            color: white;
            float: right;
            font-family: 'Montserrat', verdana, arial, sans-serif;
            font-size: 16px;
            padding: 15px;
        }
    #popoutcontent {
        align-items: center;
        display: flex;
        height: calc(100% - 60px);
        width: 100%;
    }