#help {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}
    .help-section {
        display: flex;
        flex-direction: column;
        padding: 15px 2%;
        width: 96%;
    }
        .help-section-title {
            font-size: 24px;
        }
        .help-section-content {
            border-left: 1px solid var(--light-secondary);
            margin-left: 1%;
            padding-left: 2%;
            padding-right: 3%;
            width: 94%;
        }
            .help-section-content .help-section-title {
                font-size: 20px;
            }
            .help-section-content p {
                padding-top: 10px;
            }