/* Defaults */
button:hover {
    cursor: pointer;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    border: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', verdana, arial, sans-serif;
    font-size: 16px;
    height: 100dvh;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

div {
    display: inline-block;
}

li {
    display: inline-block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: left;
}

ul {
    display: block;
    list-style-type: none;
}

.disabled {
    display: none !important;
}

.clickable:hover {
    background-color: var(--light-secondary);
    color: var(--dark-tetiary);
    cursor: pointer;
}

:root {
    --accent: #529EFB;
    --dark-primary: #343434;
    --dark-secondary: #1d1d1d;
    --dark-tetriary: black;
    --light-primary: #e4e4e4;
    --light-secondary: #b4b4b4;
    --light-tetriary: white;
    --bad: #FF5656;
    --bad-dark: #571D1D;
    --good: #73ff73;
}