#footer {
    background-color: var(--dark-primary);
    color: var(--light-primary);
    display: flex;
    justify-content: space-evenly;
    margin-top: -4px;
    padding: 0px 2.5% 4px 2.5%;
    width: 95%;
}