.footerlink {
    background-color: var(--dark-primary);
    border: 0px;
    color: var(--light-tetriary);
    font-family: 'Montserrat', verdana, arial, sans-serif;
    font-size: 16px;
    padding: 15px;
}